body {
  text-align: center;
}

.guessed-word {
  font-size: 5rem;
  letter-spacing: 10px;
  color: darkgray;
}

.hangman {
  width: 200px;
}

.hangman button:hover {
  background-color: #0097a7;
}

.hangman button:disabled {
  background: bdbdbd;
  color: eeeeee;
  box-shadow: 0 6px #9e9e9e;
}

.reset {
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  letter-spacing: 1px;
  outline: none;
  background: #00bcd4;
  font-family: fantasy;
  box-shadow: 0 6px #0097a7;
  border-radius: 5px;
  padding-top: 4px;
}
